<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<table class="striped" th:fragment="order_table">
    <thead th:replace="~{:: order_header}"/>
    <tbody>
    <th:block th:each="order : ${orders}">
        <th:block th:replace="~{:: order_row}"/>
    </th:block>
    <th:block th:replace="~{:: create_new_order}"/>
    </tbody>
</table>


<thead th:fragment="order_header">
<tr>
    <th>Id</th>
    <th>CustomerId</th>
    <th>Delivery Address Id</th>
    <th>Price ex VAT(Cents)</th>
    <th>VAT (Cents)</th>
    <th></th>
</tr>
</thead>

<table th:fragment="orderitem_table">
    <thead th:replace="~{:: orderitem_header}"/>
    <tbody th:replace="~{:: orderitem_rows}"/>
</table>

<thead th:fragment="orderitem_header">
<tr>
    <th>Id</th>
    <th>ProductId</th>
    <th>Quantity</th>
    <th>Price per Item ex VAT(Cents)</th>
    <th>VAT (Cents)</th>
</tr>
</thead>

<!-- Call with 'order' defined -->


<tr th:fragment="order_details" hx-target="this" hx-swap="outerHTML">
    <td th:text="${order.id}" class="uuid"/>
    <td th:text="${order.customerId}"/>
    <td th:text="${order.deliveryAddressId}"/>
    <td th:text="${order.totalPriceExVatCents}"/>
    <td th:text="${order.totalVatCents}"/>
    <td>
         <span style="white-space: nowrap;">
            <img src="/icons/edit.png" th:attr="hx-get=${'/orders/' + order.id + '/edit'}" class="icon"/>
            <img src="/icons/delete.png" th:attr="hx-delete=${'/orders/' + order.id}" class="icon"/>
         </span>
    </td>
</tr>

<tr th:fragment="edit_order_details" hx-target="this" hx-swap="outerHTML">

    <td th:text="${order.id}" class="order.uuid"><input type="hidden" name="id" th:value="${order.id}"/></td>
    <td>
        <input type="text" name="customerId" th:value="${order.customerId}">
    </td>
    <td>
        <input type="text" name="deliveryAddressId" th:value="${order.deliveryAddressId}">
    </td>
    <td>
        <input type="text" name="totalPriceExVatCents" th:value="${order.totalPriceExVatCents}">
    </td>
    <td>
        <input type="text" name="totalVatCents" th:value="${order.totalVatCents}">
    </td>
    <td>
        <span style="white-space: nowrap;">
                <form th:id="${'order-' + order.id}" method="POST">
            <img src="/icons/save.png" alt="Submit"
                 th:attr="hx-post=${'/orders/' + order.id},hx-include=${'#order-' + order.id}" class="icon"/>
            <img src="/icons/cancel.png" th:attr="hx-get=${'/orders/' + order.id}" class="icon"/>
    </form>
         </span>
    </td>
</tr>

<tr th:fragment="create_new_order">
    <td colspan="6">
        <button th:attr="hx-get=${'/orders/'}" class="btn primary">
            New order
        </button>
    </td>
</tr>


<!-- The order information, and a row with order item info    -->
<th:block th:fragment="order_row">
    <tr th:replace="~{:: order_details}"/>
    <tr>
        <td></td>
        <td colspan="5">
            <table th:replace="~{:: orderitem_table}"/>
        </td>
    </tr>
</th:block>

<tr th:each="item :${order.items}" hx-target="this" hx-swap="outerHTML" th:fragment="orderitem_rows">
    <td th:text="${item.id}" class="uuid"/>
    <td th:text="${item.productId}"/>
    <td th:text="${item.quantity}"/>
    <td th:text="${item.pricePerItemExVatCents}"/>
    <td th:text="${item.vatPerItemCents}"/>
    <td>
        <span style="white-space: nowrap;">
          <img src="/icons/edit.png" th:attr="hx-get=${'/orders/' + order.id + '/items/' + item.id + '/edit'}"
               class="icon"/>
          <img src="/icons/delete.png" th:attr="hx-delete=${'/orders/' + order.id + '/items/' + item.id}" class="icon"/>
        </span>
    </td>
</tr>
</body>
</html>