<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<thead th:fragment="order_header">
<tr>
    <th>Id</th>
    <th>CustomerId</th>
    <th>Delivery Address Id</th>
    <th>Price ex VAT(Cents)</th>
    <th>VAT (Cents)</th>
</tr>
</thead>


<thead th:fragment="orderitem_header">
<tr>
    <th>Id</th>
    <th>ProductId</th>
    <th>Quantity</th>
    <th>Price per Item ex VAT(Cents)</th>
    <th>VAT (Cents)</th>
</tr>
</thead>

<!-- Call with 'order' defined -->

<tr th:each="item :${order.items}"  hx-target="this" hx-swap="outerHTML" th:fragment="orderitem_rows">
    <td th:text="${item.id}"/>
    <td th:text="${item.productId}"/>
    <td th:text="${item.quantity}"/>
    <td th:text="${item.pricePerItemExVatCents}"/>
    <td th:text="${item.vatPerItemCents}"/>
    <td>
        <button th:attr="hx-get=${'/orders/' + order.id + '/items/' + item.id + '/edit'}" class="btn primary">
            Edit
        </button>
        <button th:attr="hx-delete=${'/orders/' + order.id + '/items/' + item.id}" class="btn primary">
            Delete
        </button>
    </td>
</tr>


<table th:fragment="orderitem_table">
    <thead th:replace="~{:: orderitem_header}"/>
    <tbody th:replace="~{:: orderitem_rows}"/>
</table>

<tr th:fragment="order_details" hx-target="this" hx-swap="outerHTML">
    <td th:text="${order.id}"/>
    <td th:text="${order.customerId}"/>
    <td th:text="${order.deliveryAddressId}"/>
    <td th:text="${order.totalPriceExVatCents}"/>
    <td th:text="${order.totalVatCents}"/>
    <td>
        <button th:attr="hx-get=${'/orders/' + order.id + '/edit'}" class="btn primary">
            Click To Edit
        </button>
    </td>
</tr>
<!-- The order information, and a row with order item info    -->
<th:block th:fragment="order_row">
    <tr th:replace="~{:: order_details}"/>
    <tr>
        <td colspan="5">
            <table th:replace="~{:: orderitem_table}"/>
        </td>
    </tr>
</th:block>
</body>
</html>