<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<table class="striped" th:fragment="order_table">
    <thead th:replace="~{:: order_header}"/>
    <tbody>
    <th:block th:each="order : ${orders}">
        <th:block th:replace="~{:: order_row}"/>
    </th:block>
    <th:block th:replace="~{:: create_new_order}"/>
    </tbody>
</table>


<thead th:fragment="order_header">
<tr>
    <th>Id</th>
    <th>CustomerId</th>
    <th>Delivery Address Id</th>
    <th>Price ex VAT(Cents)</th>
    <th>VAT (Cents)</th>
    <th></th>
</tr>
</thead>

<table th:fragment="orderitem_table">
    <thead th:replace="~{:: orderitem_header}"/>
    <tbody th:replace="~{:: orderitem_rows}"/>
</table>

<thead th:fragment="orderitem_header">
<tr>
    <th>Id</th>
    <th>ProductId</th>
    <th>Quantity</th>
    <th>Price per Item ex VAT(Cents)</th>
    <th>VAT (Cents)</th>
</tr>
</thead>

<!-- Call with 'order' defined -->


<tr th:fragment="order_details" hx-target="this" hx-swap="outerHTML">
    <td th:text="${order.id}" class="uuid"/>
    <td th:text="${order.customerId}"/>
    <td th:text="${order.deliveryAddressId}"/>
    <td th:text="${order.totalPriceExVatCents}"/>
    <td th:text="${order.totalVatCents}"/>
    <td>
        <span style="white-space: nowrap;">
            <img src="/icons/edit.png" th:attr="hx-get=${'/orders/' + order.id + '/edit'}" class="icon"/>
            <img src="/icons/delete.png" th:attr="hx-delete=${'/orders/' + order.id}" class="icon"/>
        </span>
    </td>
</tr>

<tr th:fragment="edit_order_details">
    <td class="uuid">
        <form th:id="${'order-' + order.id}" th:action="@{'/orders/' + ${order.id}}"
              th:attr="hx-post=@{'/orders/' + ${order.id}}">
            <span th:text="${order.id}"></span>
            <input type="hidden" name="id" th:value="${order.id}"/>
        </form>
    </td>
    <td>
        <input type="text" name="customerId" th:value="${order.customerId}" th:form="${'order-' + order.id}">
    </td>
    <td>
        <input type="text" name="deliveryAddressId" th:value="${order.deliveryAddressId}" th:form="${'order-' + order.id}">
    </td>
    <td>
        <input type="number" name="totalPriceExVatCents" th:value="${order.totalPriceExVatCents}" th:form="${'order-' + order.id}">
    </td>
    <td>
        <input type="number" name="totalVatCents" th:value="${order.totalVatCents}" th:form="${'order-' + order.id}">
    </td>
    <td>
        <span style="white-space: nowrap;">
            <!--/* hx-include: submit all fields for the form with the given id. hx-swap outerHTML otherwise a tr gets added _inside_ the 'closest tr' */-->
            <img src="/icons/save.png" alt="Submit" th:attr="hx-post=${'/orders/' + order.id},hx-include=${'#order-' + order.id}"  hx-target="closest tr" hx-swap="outerHTML" class="icon"/>
            <img src="/icons/cancel.png" th:attr="hx-get=${'/orders/' + order.id}"  hx-target="closest tr" hx-swap="outerHTML" class="icon"/>
        </span>
    </td>
</tr>

<tr th:fragment="create_new_order">
    <td colspan="6">
        <button th:attr="hx-get=${'/orders/'}" class="btn primary">
            New order
        </button>
    </td>
</tr>


<!-- The order information, and a row with order item info    -->
<th:block th:fragment="order_row">
    <tr th:replace="~{:: order_details}"/>
    <tr>
        <td></td>
        <td colspan="5">
            <table th:replace="~{:: orderitem_table}"/>
        </td>
    </tr>
</th:block>

<th:block th:each="item :${order.items}" th:fragment="orderitem_rows">
   <tr th:replace="~{:: orderitem_row}">
</th:block>

<tr hx-target="this" hx-swap="outerHTML" th:fragment="orderitem_row">
    <td th:text="${item.id}" class="uuid"/>
    <td th:text="${item.productId}"/>
    <td th:text="${item.quantity}"/>
    <td th:text="${item.pricePerItemExVatCents}"/>
    <td th:text="${item.vatPerItemCents}"/>
    <td>
            <span style="white-space: nowrap;">
              <img src="/icons/edit.png" th:attr="hx-get=${'/orders/' + order.id + '/items/' + item.id + '/edit'}" hx-target="closest tr"
                   class="icon"/>
              <img src="/icons/delete.png" th:attr="hx-delete=${'/orders/' + order.id + '/items/' + item.id}" class="icon"/>
            </span>
    </td>
</tr>

<tr th:fragment="edit_orderitem_row" hx-target="this" hx-swap="outerHTML">
    <td class="uuid">
        <form th:id="${'orderitem-' + item.id}"
            th:action="@{'/orders/' + ${order.id} + '/items/' + ${item.id}}"
            th:attr="hx-post=@{'/orders/' + ${order.id} + '/items/' + ${item.id}}">
            <span th:text="${item.id}"></span>
            <input type="hidden" name="id" th:value="${item.id}"/>
        </form>
    </td>
    <td>
        <input type="text" name="productId" th:value="${item.productId}" th:form="${'orderitem-' + item.id}">
    </td>
    <td>
        <input type="number" name="quantity" th:value="${item.quantity}" th:form="${'orderitem-' + item.id}">
    </td>
    <td>
        <input type="number" name="pricePerItemExVatCents" th:value="${item.pricePerItemExVatCents}" th:form="${'orderitem-' + item.id}">
    </td>
    <td>
        <input type="number" name="vatPerItemCents" th:value="${item.vatPerItemCents}" th:form="${'orderitem-' + item.id}">
    </td>
    <td>
        <span style="white-space: nowrap;">
            <img src="/icons/save.png" alt="Submit" th:attr="hx-post=${'/orders/' + order.id + '/items/' + item.id},hx-include=${'#orderitem-' + item.id}"  hx-target="closest tr" hx-swap="outerHTML" class="icon"/>
            <img src="/icons/cancel.png" th:attr="hx-get=${'/orders/' + order.id + '/items/' + item.id}"  hx-target="closest tr" hx-swap="outerHTML" class="icon"/>
        </span>
    </td>
</tr>

</body>
</html>
